<!doctype html>
<html manifest="index.appcache">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= stylesheets %>
</head>
<body class="app">
<section id="chat">
  <article id="home">
    <div id="messages">
      <ul id="messages_list" class="list">
        <li data-icon="chat" class="rchat"><h1>welcome to rchat</h1></li>
        <li id="asciititle" class="rchat"><pre>
 ______  ______  __  __  ______  ______
/\  == \/\  ___\/\ \_\ \/\  __ \/\__  _\
\ \  __<\ \ \___\ \  __ \ \  __ \/_/\ \/
 \ \_\ \_\ \_____\ \_\ \_\ \_\ \_\ \ \_\
  \/_/ /_/\/_____/\/_/\/_/\/_/\/_/  \/_/
          
        </pre></li>
      </ul>
    </div>
    <div id="input_wrapper" class="form">
      <input id="chat_input" type="text" placeholder="chat..."/>
    </div>
  </article>

  <article id="user">
    <div id="users">
      <ul id="users_list" class="list"></ul>
    </div>
  </article>

  <footer class="toolbar">
    <nav>
      <a href="#home" id="messages_tab" class="current" data-icon="chat" data-title="Chat" data-target="article" data-count="0"></a>
      <a href="#user" id="users_tab" data-icon="group" data-title="Users" data-target="article" data-count="0"></a>
    </nav>
  </footer>
</section>
<script>WEB_SOCKET_SWF_LOCATION = "<%= web_socket_swf %>";</script>
<%= javascripts %>
</body>
</html>
